/* MainLayout.css */
.app-container {
    display: flex;
  }
  
  .page-content {
    flex: 2;
    background-color: var(--secondary-bg);
  }

/* Home.css */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .home p {
    padding: 20px;
  }

  .home-logo {
    height: 30em;
  }
  
/*Sidebar.css*/
.sidebar {
    display: flex;
    flex-direction: column;
    background : linear-gradient(to bottom, var(--fifth-bg), var(--primary-bg), var(--fourth-bg));
    width: 250px;
    height: 100vh;
  }

  .sidebar-logo {
    width: 60%;
  }

  .mid {
    display: flex;
    height: calc(100% - 155px);
    flex-direction: column;
    padding: 10px;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.1em;
    color: var(--primary-text);
    text-decoration: none;
    margin-bottom: 10px;
    background-color: var(--primary-button-bg);
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar-item:hover {
    background-color: var(--secondary-button-bg);
    color: var(--secondary-text);
  }
  
  .sidebar-icon {
    width: 50px;
    margin-right: 10px;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-bg);
    border-radius: 10px;
    margin: 15px;
    
  }

  .bottom-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom-icon {
    width: 40px;
    padding: 10px 30px;
  }



  .bottom-item:hover {
    background-color: var(--secondary-button-bg);
    color: var(--secondary-text);
    border-radius: 15px;
  }

/* Settings.css */
.settings-container {
  display: flex;
  flex-direction: column;
  min-width: 650px;
  height: 100%;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-header h2 {
  padding: 20px;
}

.setting-items {
  height: calc(100% - 117.6px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
}

.setting-item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--fifth-bg); /* Light grey line */
}

.setting-item label {
  font-weight: bold;
  padding-right: 10px;
}

.setting-item input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px;
  width: 300px;
  margin: 10px;
}

.settings-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  height: 65px;
}

.settings-buttons button {
  padding: 10px 15px;
  margin : 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.settings-buttons button:first-child {
  background-color: #ccc;
}

.settings-buttons button:last-child {
  background-color: var(--third-button-bg);
  color: white;
}

/* unsortedImages.css */

.unsorted-images {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.unsorted-images-bottombar {
  background-color: var(--sixth-bg);
  border-top: 1.5px solid var(--third-bg);
  display: flex;
  justify-content: right;
}

.unsorted-images-bottombar button{
  padding: 10px 15px;
  margin : 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background-color: var(--third-button-bg);
  color: white;
}

/* images-viewer.css */

.images-viewer-header {
  background-color: var(--sixth-bg);
  border-bottom: 1.5px solid var(--third-bg);
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 15px;
  font-weight: bold;
}

.images-viewer-header span {
  padding-right: 10px;
}

.images-viewer-header p {
  margin: 0;
  
  font-size: 1.2rem;
  padding-right: 10px;
  padding-bottom: 3px;
}

.images-viewer-header i {
  padding-right: 10px;
}

.images-viewer-header i::before {
  font-size: 1.8rem;
  vertical-align: middle;
  cursor: pointer;
}

.images-viewer-header i:hover::before {
  transform: scale(1.1);
  display: inline-block;
}

.images-viewer-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-evenly;
  gap: 10px;
  background-color: var(--secondary-bg);
  height: calc(100vh - 125.6px);
  padding: 0 20px;
}

.images-viewer-item {
  /* background-color: var(--fifth-bg); */
}

.images-viewer-item img{
  width: auto;
  /* height: 200px; */
  border-radius: 20px;
  cursor: pointer;
  border: 1.5px solid var(--third-bg);
}